---
layout: default
permalink: /
---

<!-- Hero -->
<section class="hero">
  <div class="jumbotron">
    <div class="container">
      <h1 class="event-heading large-heading">Garden City<br>Ruby Conference</h1>
      <h3 class="date">
        Today!!1!
      </h3>
      <h3 class="date">
        <a href="#venue" class="white-link">Bangalore</a>
      </h3>

      <div class="twitter-logo">
        <a href="https://twitter.com/gardencityrb" target="_blank" class="no-style-link">
          <img alt="GCRC @ Twitter" src="{% asset_path twitter_white.png %}" data-at2x="{% asset_path twitter_white@2x.png %}" />
        </a>
      </div>
      <div class="twitter-hashtag">
        <a href="https://twitter.com/hashtag/GCRC15?src=hash" target="_blank" class="white-link">
          #gcrc2015
        </a>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<a class='anchor' id='about'></a>
<section class="about">
  <div class="container">
    <div class="col-lg-10 col-lg-offset-1">
      <h2 class="section-title">About</h2>
      <p>
      <em>Garden City RubyConf</em> aka <em>GCRC</em> is Bangalore's own regional
      Ruby Conference. Having received much love and support from the ruby
      community after the first edition in 2014, on 10th January 2015 Bangalore
      will have the second edition, this time geared towards the theme of
      "learning". This means the event has been carefully organized in such a
      way that it will cater to audience of all levels and every participant
      shall take away something new from the conference; it's more about tech
      and less about fluff. This year GCRC will be a single day, two-track
      conference, with talks in one track and hands-on workshops in the other.
      </p>
    </div>
  </div>
</section>

<!-- Speakers -->
{% include speakers.html %}

<!-- Venue -->
{% include venue.html %}

<!-- Sponsors -->
<a class='anchor' id='sponsors'></a>
<section class="sponsors">
  <div class="container">
    <div class="col-lg-10 col-lg-offset-1">
      <h2 class="section-title">Sponsors</h2>
      <h4 class="text-center sub-headline">Gold</h4>

      <div class="sponsors-block">
        <div class="sponsor gold">
          <a href="http://www.cybrilla.com/" class="center-block no-style-link" target="_blank">
            <img alt="Cybrilla" src="{% asset_path sponsors/cybrilla.png %}" data-at2x="{% asset_path sponsors/cybrilla@2x.png %}" />
          </a>
        </div>
        <div class="sponsor gold">
          <a href="http://www.qwinixtech.com/" class="center-block no-style-link" target="_blank">
            <img alt="Qwinix" src="{% asset_path sponsors/qwinix.png %}" data-at2x="{% asset_path sponsors/qwinix@2x.png %}" />
          </a>
        </div>
      </div>

      <h4 class="text-center sub-headline">Silver</h4>
      {% include silver_sponsors.html %}

      <h4 class="text-center sub-headline">Bronze</h4>
      {% include bronze_sponsors.html %}

    </div>
  </div>
</section>
