<div class="sponsors-block">
  <div class="sponsor v-align-center">
    <a href="http://bigbinary.com/" class="center-block no-style-link" target="_blank">
      <img alt="BigBinary" src="{% asset_path sponsors/bigbinary.png %}" data-at2x="{% asset_path sponsors/bigbinary@2x.png %}" />
    </a>
  </div>

  <div class="sponsor v-align-center">
    <a class="center-block no-style-link" href="http://www.multunus.com/" target="_blank">
      <img src="{% asset_path sponsors/multunus.png %}" alt="Multunus" data-at2x="{% asset_path sponsors/multunus@2x.png %}">
    </a>
  </div>

  <div class="sponsor v-align-center">
    <a class="center-block no-style-link" href="http://codeignition.co/" target="_blank">
      <img src="{% asset_path sponsors/codeignition.png %}" alt="CodeIgnition" data-at2x="{% asset_path sponsors/codeignition@2x.png %}">
    </a>
  </div>

  <div class="sponsor v-align-center">
    <a class="center-block no-style-link" href="http://webstream.io/" target="_blank">
      <img src="{% asset_path sponsors/webstreamio.png %}" alt="Webstream.io" data-at2x="{% asset_path sponsors/webstreamio@2x.png %}">
    </a>
  </div>
</div>
