  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gcrc-navbar-mobile" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand visible-xs-block" href="/">
        {% retina_img gcrc.png alt='GCRC' class='nav-logo' %}
      </a>
    </div>


    <!-- mobile nav -->
    <div class="visible-xs-block">
      <div id="gcrc-navbar-mobile" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/#about">About</a></li>
          <li><a href="/program/">Schedule</a></li>
          <li><a href="/#speakers">Speakers</a></li>
          <li><a href="/#venue">Venue</a></li>
          <li><a href="/sponsors/">Sponsors</a></li>
          <li><a href="http://gcrc15.doattend.com">Buy a Ticket</a></li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>

    <!-- desktop nav -->
    <div class="visible-sm-block visible-md-block visible-lg-block desktop-nav">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <div class="row">
            <ul class="nav navbar-nav desktop-navbar-nav">
              <li class='col-sm-seven'><a href="/#about">About</a></li>
              <li class="col-sm-seven">
                <a href="/program/">Schedule</a>
              </li>
              <li class="col-sm-seven">
                <a href="/#speakers">Speakers</a>
              </li>
              <li class="col-sm-seven">
                <div class="navbar-brand-logo">
                  <a href="/">
                    {% retina_img gcrc.png alt='GCRC' class='nav-logo' %}
                  </a>
                </div>
              </li>
              <li class="col-sm-seven">
                <a href="/#venue">Venue</a>
              </li>
              <li class="col-sm-seven">
                <a href="/sponsors/">Sponsors</a>
              </li>
              <li class='col-sm-seven'>
                <a href="http://gcrc15.doattend.com" class="brand-red">
                  Buy a Ticket
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
