  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gcrc-navbar-mobile" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand visible-xs-block" href="/">
        {% retina_img gcrc.png alt='GCRC' class='nav-logo' %}
      </a>
    </div>


    <!-- mobile nav -->
    <div class="visible-xs-block">
      <div id="gcrc-navbar-mobile" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ site.links.schedule.url }}">{{ site.links.schedule.name }}</a></li>
          <li><a href="{{ site.links.speakers.url }}">{{ site.links.speakers.name }}</a></li>
          <li><a href="{{ site.links.venue.url }}">{{ site.links.venue.name }}</a></li>
          <li><a href="{{ site.links.sponsors.url }}">{{ site.links.sponsors.name }}</a></li>
          <li><a href="{{ site.links.oss.url }}">{{ site.links.oss.name }}</a></li>
          <li><a href="{{ site.links.ticket.url }}">{{ site.links.ticket.name }}</a></li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>

    <!-- desktop nav -->
    <div class="visible-sm-block visible-md-block visible-lg-block desktop-nav">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <div class="row">
            <ul class="nav navbar-nav desktop-navbar-nav">
              <li class="col-sm-seven">
                <a href="{{ site.links.schedule.url }}">{{ site.links.schedule.name }}</a>
              </li>
              <li class="col-sm-seven">
                <a href="{{ site.links.speakers.url }}">{{ site.links.speakers.name }}</a>
              </li>
              <li class="col-sm-seven">
                <a href="{{ site.links.venue.url }}">{{ site.links.venue.name }}</a>
              </li>

              <li class="col-sm-seven">
                <div class="navbar-brand-logo">
                  <a href="/">
                    {% retina_img gcrc.png alt='GCRC' class='nav-logo' %}
                  </a>
                </div>
              </li>
              <li class="col-sm-seven">
                <a href="{{ site.links.sponsors.url }}">{{ site.links.sponsors.name }}</a>
              </li>
              <li class='col-sm-seven'>
                <a href="{{ site.links.oss.url }}">
                  {{ site.links.oss.name }}
                </a>
              </li>

              <li class='col-sm-seven'>
                <a href="{{ site.links.ticket.url }}">
                  {{ site.links.ticket.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
