<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <h3>Contact</h3>
          <p class='contact'>
          <a href="mailto:team@gardencityruby.org">team@gardencityruby.org</a>
          <ul class="list-unstyled">
            <li>
              Swanand: <a href="tel:+919986034153">+91 99-86-034153</a>
            </li>
            <li>
              Satish: <a href="tel:+919916599187">+91 99-16-599187</a>
            </li>
          </ul>
          </p>
        </div>

        <div class="row">
          <h3>Previous Events</h3>
          <a href="//2014.gardencityruby.org/" target="_blank">
            Garden City Ruby Conference 2014
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <h3>Venue</h3>
        <div class="map-small">
          <a target="_blank" href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Le+Meridien+Bangalore,+28,+Sankey+Road,+Bengaluru,+Karnataka,+India&aq=0&oq=le+merid&sll=28.59515,77.211528&sspn=0.218247,0.361862&vpsrc=6&t=m&gl=us&ie=UTF8&hq=Le+Meridien+Bangalore,+28,+Sankey+Road,+Bengaluru,+Karnataka,+India&hnear=&radius=15000&ll=12.990377,77.586946&spn=0.003784,0.005654&z=18&cid=943640211268752346&iwloc=A">
            <img class="map-small" alt='Venue' src='{% asset_path map-small.png %}' data-at2x='{% asset_path map-small@2x.png %}' />
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <h3>Team</h3>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <ul class="list-unstyled">
                <li><a href="http://twitter.com/emilsoman" target="_blank">Emil Soman</a></li>
                <li><a href="http://twitter.com/kgrz" target="_blank">Kashyap Kondamudi</a></li>
                <li><a href="http://twitter.com/leenasn" target="_blank">Leena SN</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
              <ul class="list-unstyled">
                <li><a href="http://twitter.com/satishperala" target="_blank">Satish Kumar Perala</a></li>
                <li><a href="http://twitter.com/_swanand" target="_blank">Swanand Pagnis</a></li>
                <li><a href="http://twitter.com/tdinkar" target="_blank">Tejas Dinkar</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <h3>Policies</h3>
          <a href="/code-of-conduct/#code-of-conduct">
            Code of Conduct
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
