{% javascript jquery.min %}
{% javascript bootstrap %}
{% javascript retina %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $("#gcrc-navbar-mobile li a").click(function(event) {
      $("#gcrc-navbar-mobile").collapse('hide');
    });
    $(window).scroll(function(){
      var navBar = $('.navbar');
      var desktopNav = $('.desktop-nav');
      if (navBar.offset().top > 50) {
        navBar.addClass('desktop-thin-nav');
      } else {
        navBar.removeClass('desktop-thin-nav');
      }
    });
  });
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-56748378-1', 'auto');
ga('send', 'pageview');
</script>
