{% javascript jquery.min %}
{% javascript bootstrap %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $("#gcrc-navbar-mobile li a").click(function(event) {
      $("#gcrc-navbar-mobile").collapse('hide');
    });
    $(window).scroll(function(){
      var navBar = $('.navbar');
      var desktopNav = $('.desktop-nav');
      if (navBar.offset().top > 50) {
        desktopNav.addClass('desktop-thin-nav');
      } else {
        desktopNav.removeClass('desktop-thin-nav');
      }
    });
  });
</script>
