<div class="hide-below-600">
  <div class="row">
    <div class="col-xs-3">
      <div class="sponsor v-align-center">
        <a href="http://codemancers.com/" class="center-block no-style-link" target="_blank">
          <img alt="Codemancers" src="{% asset_path sponsors/codemancers.png %}" data-at2x="{% asset_path sponsors/codemancers@2x.png %}" />
        </a>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="sponsor v-align-center">
        <a href="http://www.mavenhive.in/" class="center-block no-style-link" target="_blank">
          <img alt="MavenHive" src="{% asset_path sponsors/mavenhive.png %}" data-at2x="{% asset_path sponsors/mavenhive@2x.png %}" />
        </a>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="sponsor v-align-center">
        <a href="http://www.urbanladder.com/" class="center-block no-style-link" target="_blank">
          <img alt="UrbanLadder" src="{% asset_path sponsors/urbanladder.png %}" data-at2x="{% asset_path sponsors/urbanladder@2x.png %}" />
        </a>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="sponsor v-align-center">
        <a href="http://www.joshsoftware.com/" class="center-block no-style-link" target="_blank">
          <img alt="JoshSoftware" src="{% asset_path sponsors/josh.png %}" data-at2x="{% asset_path sponsors/josh@2x.png %}" />
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <div class="sponsor v-align-center">
        <a href="http://www.confreaks.com/" class="center-block no-style-link" target="_blank">
          <img alt="Confreaks" src="{% asset_path sponsors/confreaks.png %}" data-at2x="{% asset_path sponsors/confreaks@2x.png %}" />
        </a>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="sponsor v-align-center">
        <a class="center-block no-style-link" href="https://travis-ci.com" target="_blank">
          <img src="{% asset_path sponsors/travis.png %}" alt="Travis" data-at2x="{% asset_path sponsors/travis@2x.png %}">
        </a>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="sponsor v-align-center">
        <a class="center-block no-style-link" href="http://www.c42.in/" target="_blank">
          <img src="{% asset_path sponsors/c42.png %}" alt="C42" data-at2x="{% asset_path sponsors/c42@2x.png %}">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="show-above-600">
  <div class="row">
    <div class="col-xs-6">
      <div class="sponsor v-align-center">
        <a href="http://codemancers.com/" class="center-block no-style-link" target="_blank">
          <img alt="Codemancers" src="{% asset_path sponsors/codemancers.png %}" data-at2x="{% asset_path sponsors/codemancers@2x.png %}" />
        </a>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="sponsor v-align-center">
        <a href="http://www.mavenhive.in/" class="center-block no-style-link" target="_blank">
          <img alt="MavenHive" src="{% asset_path sponsors/mavenhive.png %}" data-at2x="{% asset_path sponsors/mavenhive@2x.png %}" />
        </a>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="sponsor v-align-center">
        <a href="http://www.urbanladder.com/" class="center-block no-style-link" target="_blank">
          <img alt="UrbanLadder" src="{% asset_path sponsors/urbanladder.png %}" data-at2x="{% asset_path sponsors/urbanladder@2x.png %}" />
        </a>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="sponsor v-align-center">
        <a href="http://www.joshsoftware.com/" class="center-block no-style-link" target="_blank">
          <img alt="JoshSoftware" src="{% asset_path sponsors/josh.png %}" data-at2x="{% asset_path sponsors/josh@2x.png %}" />
        </a>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="sponsor v-align-center">
        <a href="http://www.confreaks.com/" class="center-block no-style-link" target="_blank">
          <img alt="Confreaks" src="{% asset_path sponsors/confreaks.png %}" data-at2x="{% asset_path sponsors/confreaks@2x.png %}" />
        </a>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="sponsor v-align-center">
        <a class="center-block no-style-link" href="https://travis-ci.com" target="_blank">
          <img src="{% asset_path sponsors/travis.png %}" alt="Travis" data-at2x="{% asset_path sponsors/travis@2x.png %}">
        </a>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="sponsor v-align-center">
        <a class="center-block no-style-link" href="http://www.c42.in/" target="_blank">
          <img src="{% asset_path sponsors/c42.png %}" alt="C42" data-at2x="{% asset_path sponsors/c42@2x.png %}">
        </a>
      </div>
    </div>
  </div>
</div>
