<a class='anchor' id='speakers'></a>
<section class="speakers">
  <div class="container">
    <div class="col-lg-10 col-lg-offset-1">
      <h2 class="section-title">Speakers</h2>
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/konstantin.jpg alt='Konstantin Haase' %}
            <p class="speaker-name">Konstantin Haase</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/konstantinhaase" target="_blank">
                @konstantinhaase
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/paolo.jpg alt='Paolo Perrotta' %}
            <p class="speaker-name">Paolo Perrotta</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/nusco" target="_blank">
                @nusco
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/prathamesh.jpg %}
            <p class="speaker-name">Prathamesh Sonpatki</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/_cha1tanya" target="_blank">
                @_cha1tanya
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/vipul.jpg alt="Vipul AM" %}
            <p class="speaker-name">Vipul AM</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/vipulnsward" target="_blank">
                @vipulnsward
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/monika.jpg %}
            <p class="speaker-name">Monika M</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/MonikaMhanthapa" target="_blank">
                @MonikaMhanthapa
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/sana.jpg %}
            <p class="speaker-name">Sana khan</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/sanakhan_libre" target="_blank">
                @sanakhan_libre
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/akanksha.jpg %}
            <p class="speaker-name">Akanksha Agarwal</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/AkankshaHA" target="_blank">
                @AkankshaHA
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/anmol.jpg %}
            <p class="speaker-name">Anmol Agarwal</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/anmol1771" target="_blank">
                @anmol1771
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/vijay.jpg %}
            <p class="speaker-name">Vijayanand Nandam</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/vijayanandam1" target="_blank">
                @vijayanandam1
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/smit.jpg %}
            <p class="speaker-name">Smit Shah</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/who828" target="_blank">
                @who828
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/ranjeet_singh.jpg %}
            <p class="speaker-name">Ranjeet Singh</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/raeoks" target="_blank">
                @raeoks
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/marshall.png %}
            <p class="speaker-name">Marshall Yount</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/marshallyount" target="_blank">
                @marshallyount
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/yuva.jpeg %}
            <p class="speaker-name">Yuva Kumar</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/iffyuva" target="_blank">
                @iffyuva
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/niranjan.jpeg %}
            <p class="speaker-name">Niranjan Paranjape</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/niranjan_p" target="_blank">
                @niranjan_p
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/sidu.jpg %}
            <p class="speaker-name">Sidu Ponnappa</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/ponnappa" target="_blank">
                @ponnappa
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/gautam.png %}
            <p class="speaker-name">Gautam Rege</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/gautamrege" target="_blank">
                @gautamrege
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
