<a class='anchor' id='speakers'></a>
<section class="speakers">
  <div class="container">
    <div class="col-lg-10 col-lg-offset-1">
      <h2 class="section-title">Speakers</h2>
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/konstantin.jpg alt='Konstantin Haase' %}
            <p class="speaker-name">Konstantin Haase</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/konstantinhaase" target="_blank">
                @konstantinhaase
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/paulo.jpg alt='Paulo Perrotta' %}
            <p class="speaker-name">Paulo Perrotta</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/nusco" target="_blank">
                @nusco
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/hemant.png alt='Hemant Kumar' %}
            <p class='speaker-name'>Hemant Kumar</p>
            <p class='speaker-twitter'>
              <a href="https://twitter.com/gnufied" target="_blank">
                @gnufied
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/prathamesh.jpg %}
            <p class="speaker-name">Prathamesh Sonpatki</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/_cha1tanya" target="_blank">
                @_cha1tanya
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/vipul.jpg alt="Vipul AM" %}
            <p class="speaker-name">Vipul AM</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/vipulnsward" target="_blank">
                @vipulnsward
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/monika.jpg %}
            <p class="speaker-name">Monika M</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/MonikaMhanthapa" target="_blank">
                @MonikaMhanthapa
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/anmol.jpg %}
            <p class="speaker-name">Anmol Agarwal</p>
            <p class="speaker-twitter">
              <a href="https://twitter.com/anmol1771" target="_blank">
                @anmol1771
              </a>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="speaker">
            {% image speakers/vijay.jpg %}
            <div class="speaker-name">Vijayanand Nandam</div>
            <div class="speaker-twitter">
              <a href="https://twitter.com/vijayanandam1" target="_blank">
                @vijayanandam1
              </a>
            </div>
          </div>
        </div>
      </div>
      <p class="caption text-center"><em>More to be announced</em></p>
    </div>
  </div>
</section>
