<a class='anchor' id='venue'></a>

<section class="venue">
  <div class="container">
    <div class="col-lg-10 col-lg-offset-1">
      <h2 class="section-title">Venue</h2>
    </div>
  </div>

  <!-- mobile  -->
  <div class="visible-xs-block">
    <div class="container">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="address-box">
              <address>
                <p><strong>Le Méridien Bangalore</strong></p>
                <p>No. 28, Sankey Road,</p>
                <p>Opposite Bangalore Golf Club</p>
                <p>Bangalore Karnataka 560052</p>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="map jumbotron" target="_blank" href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Le+Meridien+Bangalore,+28,+Sankey+Road,+Bengaluru,+Karnataka,+India&aq=0&oq=le+merid&sll=28.59515,77.211528&sspn=0.218247,0.361862&vpsrc=6&t=m&gl=us&ie=UTF8&hq=Le+Meridien+Bangalore,+28,+Sankey+Road,+Bengaluru,+Karnataka,+India&hnear=&radius=15000&ll=12.990377,77.586946&spn=0.003784,0.005654&z=18&cid=943640211268752346&iwloc=A">
    </a>
  </div>

  <!-- desktop -->
  <div class="map jumbotron visible-sm-block visible-md-block visible-lg-block">
    <div class="container">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
          <div class="col-sm-6">
            <div class="address-box">
              <address>
                <p><strong>Le Méridien Bangalore</strong></p>
                <p>No. 28, Sankey Road,</p>
                <p>Opposite Bangalore Golf Club</p>
                <p>Bangalore Karnataka 560052</p>
                <a target="_blank" href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Le+Meridien+Bangalore,+28,+Sankey+Road,+Bengaluru,+Karnataka,+India&aq=0&oq=le+merid&sll=28.59515,77.211528&sspn=0.218247,0.361862&vpsrc=6&t=m&gl=us&ie=UTF8&hq=Le+Meridien+Bangalore,+28,+Sankey+Road,+Bengaluru,+Karnataka,+India&hnear=&radius=15000&ll=12.990377,77.586946&spn=0.003784,0.005654&z=18&cid=943640211268752346&iwloc=A">
                  View on a map
                </a>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

